<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboard.css')}}">
    
    
</head>
<body>
    <div class="container">
        
        
        <div class="navigation">
            <ul> 
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="person-sharp"></ion-icon></span>
                        <span class="title"><b><h1>USER</h1></b></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="home-sharp"></ion-icon></span>
                        <span class="title"><h3>Dashboard</h3></span>
                    </a>
                </li> 
                <li>
                    <a href="{{ url_for('complaint') }}">
                        <span class="icon"><ion-icon name="create-sharp"></ion-icon></span>
                        <span class="title"><h3>Post a Complaint</h3></span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usercomplaints') }}">
                        <span class="icon"><ion-icon name="logo-stackoverflow"></ion-icon></span>
                        <span class="title"><h3>My complaints</h3></span>
                    </a>
                </li> 
                <li>
                    <a href="{{ url_for('logout') }}">
                        <span class="icon"><ion-icon name="exit-outline"></ion-icon></span>
                        <span class="title"><h3>Sign out</h3></span>
                    </a>
                </li>
            </ul>
        </div>
    
      <!-- main-->
      <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <!--search-->
            <div class="row col-md-offset-3 col-md-5 ">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                <div class="alert alert-{{category}} text-center" style="color: #2B7C85;text-align: center;">{{message}}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!--userImg-->
            
          </div>
          <!--cards-->
          <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">1505</div>
                    <div class="cardname"> Daily views</div>
                </div>
                <div class="iconBx"><ion-icon name="eye-sharp"></ion-icon></div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">54</div>
                    <div class="cardname"> Customers</div>
                </div>
                <div class="iconBx"><ion-icon name="people-sharp"></ion-icon></div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">80</div>
                    <div class="cardname"> Sales</div>
                </div>
                <div class="iconBx"><ion-icon name="bar-chart-sharp"></ion-icon></div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">23</div>
                    <div class="cardname"> Low stocks item</div>
                </div>
                <div class="iconBx"><ion-icon name="warning-sharp"></ion-icon></div>
            </div>
          </div>
          <!--oreder details two main container-->
          <div class="details">
             <div class="recentOrders">
                <div class="cardHeader">
                    <h2> Recent Complaints </h2>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>CUSTOMER NAME</td>
                            <td>EMAIL</td>
                            <td>PHONE</td>
                            <td>DATE</td> 
                            <td>TOPIC</td>  
                            <td>DESCRIPTION</td>  
                            <td>SERVICEAGENT</td>
                            <td>STATUS</td>  
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in issues %}
                        <tr>
                            <td> {{row["CUSTOMERNAME"]}}</td>
                            <td>{{row["EMAIL"]}}</td>
                            <td>{{row["PHONE"]}}</td>
                            <td>{{row["DATE"]}}</td>
                            <td>{{row["TOPIC"]}}</td>
                            <td>{{row["DESCRIPTION"]}}</td>
                            <td>{{row["SERVICEAGENT"]}}</td>
                            <td>{{row['STATUS']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
             <!--new customers-->
                </table>
             </div>
            

          </div>
           
        </div>
    </div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!--menu toggle-->
<script>
    let toggle=document.querySelector('.toggle');
    let navigation=document.querySelector('.navigation');
    let main=document.querySelector('.main');

    toggle.onclick=function()
    {
      navigation.classList.toggle('active')
      main.classList.toggle('active')
    }

</script>
<script>
    //add hovered class in selected list item
    let list=document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('hovered'));
        this.classList.add('hovered');
    }
    list.forEach((item)=>
    item.addEventListener('mouseover',activeLink))
</script>
</body>
</html>