{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/FAQ.css') }}">
{% endblock %}

{% block body %}
<!-- Move to up button -->
  <div style="background-color: red;color: aliceblue;">{{msg}}</div>
  <div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
  </div>
  <!-- navgaition menu -->
  <nav>
    <div class="navbar">
      <div class="logo"><a href="#">Cutomer Care</a></div>
      <ul class="menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Comments</a></li>
          <li><a href="#product">Categories</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="{{ url_for('signup') }}">Signup</a>
          </li>
          <li><a href="{{ url_for('login') }}">Login</a>
          </li>

          <div class="cancel-btn">
            <i class="fas fa-times"></i>
          </div>
      </ul>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </nav>

<!-- Home Section Start -->
 <section class="home" id="home">
   <div class="home-content">
     <div class="text">
       <div class="text-one">Welcome,</div>
       <div class="text-two">Customer Care</div>
       <div class="text-three">Think life a customer</div>
       <div class="text-four">From India</div>
     </div>
     <div class="button">
       <button action="/Agent">Agent Registeration</button><button action="/Agent">Agent login</button>
     </div>
   </div>
 </section>

<!-- About Section Start -->
<section class="about" id="about">
  <div class="content">
    <div class="title"><span>About Us</span></div>
  <div class="about-details">
    <div class="left">
      <img src="static/images/customer0.jpg" alt="">
    </div>
    <div class="right">
      <div class="topic">Customer Care Info</div>
      <p>Welcome to Customercareinfo.in, An information portal that publishes Customer Care Contact information of all Indian companies across all categories. Find Address, Toll Free Numbers and Email Support information with ease.</p>
      <div class="button">
        
      </div>
    </div>
  </div>
  </div>
</section>



<!-- My Skill Section Start -->
<!-- Section Tag and Other Div will same where we need to put same CSS -->
<section class="skills" id="skills">
 <div class="content">
   <div class="title"><span>Comments</span></div>
   <div class="skills-details">
     <div class="text">
       <div class="topic">Skills Reflects Our Knowledge</div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus natus tenetur tempora? Quasi, rem quas omnis. Porro rem aspernatur reiciendis ut praesentium minima ad, quos, officia! Illo libero, et, distinctio repellat sed nesciunt est modi quaerat placeat. Quod molestiae, alias?</p>
       <div class="experience">
         <div class="num">10</div>
         <div class="exp">Years Of <br> Experience</div>
       </div>
     </div>
   </div>
 </div>
</section>

<!-- My Services Section Start -->
 <section class="services" id="product">
   <div class="content">
     <div class="title"><span>Categories</span></div>
     <div class="boxes">
       <div class="box">
         <div class="icon">
          <i class="fa fa-bank"></i>
       </div>
       <div class="topic">Banking</div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-car"></i>
       </div>
       <div class="topic">Automobiles</div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-home"></i>
       </div>
       <div class="topic">Home Appliences</div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-plug"></i>
       </div>
       <div class="topic">Electronics</div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fab fa-android"></i>
       </div>
       <div class="topic">Mobiles</div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-cart-plus"></i>
       </div>
       <div class="topic">E-Shopping</div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui voluptatem eligendi?</p>
     </div>
   </div>
   </div>
</section>



<div class="section" id="faq">
        <div class="content">
          <h1 class="title">FAQ Section</h1>
          <div class="container-1">
  
              <div class="faq">
                  <div class="question">
                      <h2>What is Machine Learning?</h2>
                      <i class="fa fa-arrow-circle-o-right"></i>
                  </div>
                  <div class="answer">
                      <p>Machine Learning is a advanced python course. After done intermidiadte python you can learn about machine learning.</p>
                  </div>
              </div>
  
              <div class="faq">
                  <div class="question">
                      <h2>What is Flexbox In CSS?</h2>
                      <i class="fa fa-arrow-circle-o-right"></i>
                  </div>
                  <div class="answer">
                      <p>Machine Learning is a advanced python course. After done intermidiadte python you can learn about machine learning.</p>
                  </div>
              </div>
  
              <div class="faq">
                  <div class="question">
                      <h2>How To Learn HTML & CSS?</h2>
                      <i class="fa fa-arrow-circle-o-right"></i>
                  </div>
                  <div class="answer">
                      <p>Machine Learning is a advanced python course. After done intermidiadte python you can learn about machine learning.</p>
                  </div>
              </div>
  
          </div></div>

        <div class="container-2">

            <div class="faq">
                <div class="question">
                    <h2>How To Learn coding?</h2>
                    <i class="fa fa-arrow-circle-o-right"></i>
                </div>
                <div class="answer">
                    <p>Machine Learning is a advanced python course. After done intermidiadte python you can learn about machine learning.</p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h2>What is Front-end development In HTML</h2>
                    <i class="fa fa-arrow-circle-o-right"></i>
                </div>
                <div class="answer">
                    <p>Machine Learning is a advanced python course. After done intermidiadte python you can learn about machine learning.</p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h2>What is Back-end Development In HTML?</h2>
                    <i class="fa fa-arrow-circle-o-right"></i>
                </div>
                <div class="answer">
                    <p>Machine Learning is a advanced python course. After done intermidiadte python you can learn about machine learning.</p>
                </div>
            </div>

        </div>

    </div>


<!--<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>click button </span></div>
    <div class="text">
      
      <div class="button">
        <p><a href="../register.html"><button>register now</button></a></p>
        
      </div>
    </div>
  </div>
</section>
<br>
<br>-->


<!--<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>click button </span></div>
    <div class="text">
      
      <div class="button">
        <p><a href="../Customer Care Registry/login.html"><button>Sign up</button></a></p>
        
      </div>
    </div>
  </div>
</section>
<br>
<br>-->


<!-- Contact Me section Start -->
<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>Contact Us</span></div>
    <div class="text">
      <div class="topic">Have Any Project?</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque ipsum corrupti dolores, facere numquam voluptate aspernatur sit perferendis qui nisi modi! Recusandae deserunt consequatur voluptatibus alias repellendus nobis eligendi.</p>
      <div class="button">
        <button>Let's Chat</button>
      </div>
    </div>
  </div>
</section>


<!-- Footer Section Start -->
<footer>
  <div class="text">
    <span>Created By   </span>
    <br>
    <span>Praveenkumar.M   |</span>
    <span>Muthu Nila.P   |</span>
    <span>Partheban.V   |</span>
    <span>Ravichandran.S</span>
  </div>
</footer>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "0032bdd2-5b59-4312-a00c-cece7ea268f0", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "30b01793-f193-4ada-a147-4610ae753688", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });

    // Sticky Navigation Menu JS Code
let nav = document.querySelector("nav");
let scrollBtn = document.querySelector(".scroll-button a");
console.log(scrollBtn);
let val;
window.onscroll = function() {
  if(document.documentElement.scrollTop > 20){
    nav.classList.add("sticky");
    scrollBtn.style.display = "block";
  }else{
    nav.classList.remove("sticky");
    scrollBtn.style.display = "none";
  }

}

// Side NavIgation Menu JS Code
let body = document.querySelector("body");
let navBar = document.querySelector(".navbar");
let menuBtn = document.querySelector(".menu-btn");
let cancelBtn = document.querySelector(".cancel-btn");
menuBtn.onclick = function(){
  navBar.classList.add("active");
  menuBtn.style.opacity = "0";
  menuBtn.style.pointerEvents = "none";
  body.style.overflow = "hidden";
  scrollBtn.style.pointerEvents = "none";
}
cancelBtn.onclick = function(){
  navBar.classList.remove("active");
  menuBtn.style.opacity = "1";
  menuBtn.style.pointerEvents = "auto";
  body.style.overflow = "auto";
  scrollBtn.style.pointerEvents = "auto";
}

// Side Navigation Bar Close While We Click On Navigation Links
let navLinks = document.querySelectorAll(".menu li a");
for (var i = 0; i < navLinks.length; i++) {
  navLinks[i].addEventListener("click" , function() {
    navBar.classList.remove("active");
    menuBtn.style.opacity = "1";
    menuBtn.style.pointerEvents = "auto";
  });
}


//faq



const question = document.querySelectorAll('.faq');

question.forEach(faq => {
    faq.addEventListener("click", () => {
        faq.classList.toggle("active");
    })
})
</script>
{% endblock %}